.group-1321317749,
.group-1321317749 * {
  box-sizing: border-box;
}
.group-1321317749 {
  height: 159px;
  position: relative;
}
.frame-1686563322 {
  background: #ffffff;
  padding: 51px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 159px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.jump-links {
  background: #ffffff;
  border-style: solid;
  border-color: var(--primary-deep-blue, #213243);
  border-width: 0px 0px 0.5px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
  padding: 0px 0px 0px 70px;
}
.tabs {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-150, 12px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1265px;
  position: relative;
  left: 75px;
}
.component-17 {
  border-style: solid;
  border-color: var(--primary-mgb-blue, #003a96);
  border-width: 0px 0px 3px 0px;
  padding: var(--spacing-base-space-100, 8px) var(--spacing-base-space-100, 8px)
    28px var(--spacing-base-space-100, 8px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.contact {
  color: var(--foreground-text-body-copy-link, #003a96);
  text-align: left;
  font-family: var(--body-large-500-family, "Roboto-Medium", sans-serif);
  font-size: var(--body-large-500-size, 18px);
  line-height: 150%;
  font-weight: var(--body-large-500-weight, 500);
  position: relative;
}
.component-19 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 3px 0px;
  padding: var(--spacing-base-space-100, 8px) var(--spacing-base-space-100, 8px)
    28px var(--spacing-base-space-100, 8px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.contact2 {
  color: var(--foreground-text-body-copy, #213243);
  text-align: left;
  font-family: var(--body-large-400-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-large-400-size, 18px);
  line-height: 150%;
  font-weight: var(--body-large-400-weight, 400);
  position: relative;
}
.component-20 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 3px 0px;
  padding: var(--spacing-base-space-100, 8px) var(--spacing-base-space-100, 8px)
    28px var(--spacing-base-space-100, 8px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.component-22 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 3px 0px;
  padding: var(--spacing-base-space-100, 8px) var(--spacing-base-space-100, 8px)
    28px var(--spacing-base-space-100, 8px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.component-23 {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 3px 0px;
  padding: var(--spacing-base-space-100, 8px) var(--spacing-base-space-100, 8px)
    28px var(--spacing-base-space-100, 8px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.contact3 {
  color: var(--foreground-text-body-copy, #213243);
  text-align: left;
  font-family: var(--body-large-400-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-large-400-font-size, 18px);
  line-height: var(--body-large-400-line-height, 150%);
  font-weight: var(--body-large-400-font-weight, 400);
  position: relative;
}
