.physician-profile-hero,
.physician-profile-hero * {
  box-sizing: border-box;
}
.physician-profile-hero {
  background: #f1f1f1;
  padding: 40px 88px 0px 88px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-500, 40px);
  align-items: flex-start;
  justify-content: flex-start;
  height: 510px;
  position: relative;
}
.frame-1686563307 {
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.frame-1686562912 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--primary-white, #ffffff);
  border-width: 0px 0px 0.5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 330px;
  height: 384px;
  position: relative;
  object-fit: cover;
}
.frame-1686563303 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-500, 40px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 918px;
  height: 338px;
  position: relative;
}
.frame-1686562889 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 338px;
  position: relative;
}
.frame-1686563035 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-space-400, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 514px;
  position: relative;
}
.frame-1686563304 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-space-200, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686563306-hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-space-400, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.h-1 {
  color: #1e1e1e;
  text-align: left;
  font-family: var(
    --headline-h2-sans-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--headline-h2-sans-font-size, 48px);
  line-height: var(--headline-h2-sans-line-height, 53px);
  letter-spacing: var(--headline-h2-sans-letter-spacing, -0.5px);
  font-weight: var(--headline-h2-sans-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-1686563381 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-150, 12px);
  row-gap: var(--spacing-base-space-100, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686563296 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-150, 12px);
  row-gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  flex: 1;
  position: relative;
}
.atom {
  background: #e7e7e0;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tag-name {
  color: #213243;
  text-align: center;
  font-family: var(--body-small-500-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--body-small-500-font-size, 14px);
  line-height: var(--body-small-500-line-height, 150%);
  font-weight: var(--body-small-500-font-weight, 500);
  position: relative;
}
.frame-1686562991 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686562886 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-200, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686562881 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-1321317679 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 514px;
  position: relative;
}
.frame-1686562907 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686563028 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1686562409 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.star-1 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.star-2 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.star-3 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.star-4 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group-1321317430 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._4-8-5-89 {
  color: #003a96;
  text-align: left;
  font-family: var(
    --body-large-500-link-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--body-large-500-link-font-size, 18px);
  line-height: var(--body-large-500-link-line-height, 150%);
  font-weight: var(--body-large-500-link-font-weight, 500);
  text-decoration: underline;
  position: relative;
}
.frame-1686563308 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686562908 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.locations {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-250, 20px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1686563558 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.interface-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.locations2 {
  color: #003a96;
  text-align: left;
  font-family: var(
    --body-large-500-link-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--body-large-500-link-font-size, 18px);
  line-height: var(--body-large-500-link-line-height, 150%);
  font-weight: var(--body-large-500-link-font-weight, 500);
  text-decoration: underline;
  position: relative;
}
.frame-1686562352 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-1686562662 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.boston-ma {
  color: #213243;
  text-align: left;
  font-family: var(--body-large-400-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-large-400-font-size, 18px);
  line-height: var(--body-large-400-line-height, 150%);
  font-weight: var(--body-large-400-font-weight, 400);
  position: relative;
}
.vector-18 {
  flex-shrink: 0;
  width: 0px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.cambridge-ma {
  color: #213243;
  text-align: left;
  font-family: var(--body-large-400-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-large-400-font-size, 18px);
  line-height: var(--body-large-400-line-height, 150%);
  font-weight: var(--body-large-400-font-weight, 400);
  position: relative;
}
.vector-19 {
  flex-shrink: 0;
  width: 0px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.wellesley-ma {
  color: #213243;
  text-align: left;
  font-family: var(--body-large-400-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-large-400-font-size, 18px);
  line-height: var(--body-large-400-line-height, 150%);
  font-weight: var(--body-large-400-font-weight, 400);
  position: relative;
}
.frame-1686563032 {
  background: var(--primary-bg-teal, #d9f0f2);
  border-radius: 12px;
  padding: var(--spacing-base-space-400, 32px) 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-space-300, 24px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.labels {
  border-radius: 2px;
  padding: 4px var(--spacing-base-space-050, 4px) 4px 4px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.rectangle-2135437 {
  background: #6ec069;
  border-radius: 100px;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
}
.accepting-new-patients {
  color: var(--primary-deep-blue, #213243);
  text-align: left;
  font-family: var(
    --headline-preheader-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--headline-preheader-font-size, 18px);
  line-height: var(--headline-preheader-line-height, 27px);
  font-weight: var(--headline-preheader-font-weight, 600);
  position: relative;
}
.button {
  background: #8bffcd;
  border-radius: 50px;
  border-style: solid;
  border-color: var(--buttons-primary-button-default-stroke, #213243);
  border-width: 1px;
  padding: var(--spacing-base-space-150, 12px)
    var(--spacing-base-space-300, 24px) var(--spacing-base-space-150, 12px)
    var(--spacing-base-space-300, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-075, 6px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 72px;
  max-width: 490px;
  position: relative;
  overflow: hidden;
}
.frame-16865633062 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base-space-075, 6px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.interface-icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.primary-button {
  color: var(--buttons-primary-button-default-text-and-icon, #213243);
  text-align: center;
  font-family: var(--body-large-500-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--body-large-500-font-size, 18px);
  line-height: var(--body-large-500-line-height, 150%);
  font-weight: var(--body-large-500-font-weight, 500);
  position: relative;
}

.vector-18 {
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: visible;
  background-color: #213243;
  width: 1px;
}

.vector-19 {
  flex-shrink: 0;
  height: 20px;
  position: relative;
  overflow: visible;
  background-color: #213243;
  width: 1px;
}

